<!DOCTYPE>
<html lang="en">

<head>
    <title>who is hiring?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <style type="text/tailwindcss">
        @layer base {
            a {
                text-decoration: underline;
            }
            pre {
                white-space: pre-wrap;
            }
        }
    </style>
</head>

<body class="bg-slate-700 text-white md:text-lg">
    <div class="mx-3 my-4 md:mx-auto md:max-w-2xl lg:max-w-3xl">
        {{ if . }}
        <div class="font-semibold mb-2 text-xl">
            <a href=https://news.ycombinator.com/item?id={{ .Story.HnId }}>{{ .Story.Title }}</a>
        </div>
        <div class="job-container">
            <div class="flex justify-between mb-1">
                {{ if eq .HjTime.Max .Job.Time }}
                <button disabled class="inline-block bg-slate-900 p-1 w-20 text-center disabled:opacity-50">Previous</button>
                {{ else }}
                <a href="?before={{ .Job.Time }}" class="inline-block bg-slate-900 p-1 w-20 text-center">Previous</a>
                {{ end }}
                {{ if eq .HjTime.Min .Job.Time }}
                <button disabled class="inline-block bg-slate-900 p-1 w-20 text-center disabled:opacity-50">Next</button>
                {{ else }}
                <a href="?after={{ .Job.Time }}" class="inline-block bg-slate-900 p-1 w-20 text-center">Next</a>
                {{ end }}
            </div>
            <div class="font-semibold">
                {{ if .Job.Seen }}You have seen this job.{{ else }}This is a new job.{{ end }}
            </div>
            <div {{ if not .Job.Seen }}hx-get="/api/seen/{{ .Job.HnId }}" hx-trigger="revealed" hx-swap="none"{{ end }}>
                {{ .Job.Text }}
            </div>
        </div>
        {{ end }}
    </div>
</body>

</html>
